<div class="container navbar">
  <a href="index.html"><img src="assets/img/icons/diagnostics.svg" alt="SolTek Logo" class="logo"></a>
  <button class="nav-toggle" aria-label="Toggle navigation"><span class="hamburger"></span></button>
  <nav>
    <ul>
      <li><a href="about.html" class="{about_active}">About</a></li>
      <li><a href="services.html" class="{services_active}">Services</a></li>
      <li><a href="contact.html" class="{contact_active}">Contact</a></li>
      <li><a href="investors.html" class="{investors_active}">Investors</a></li>
    </ul>
  </nav>
</div>